@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Us";
}
    <h1>@ViewData["Title"]</h1>

    <div class="text-center row">

        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card" style="margin-top: 15px; min-width: 15rem;">
                <img class="card-img-top" src="~/img/sihem2.jpg" alt="Store Image" />

                <div class="card-header">

                    <h3 class="card-title text-center">Sihem Azibi</h3>
                    <div class="card-body">
                        <p>
                            My name is Sihem. I came to the United States 6 years ago from the country of Algeria. I studied
                            computer
                            science there and graduated with a Master's degree in information systems. When I joined my husband
                            in
                            the United States in 2013, I didn't speak English so I had to start from the bottom of the
                            workforce. I
                            started by working in retail stores then worked as a school bus driver for the Iowa City Community
                            School District for 5 years. I recently heard about DeltaV coding school. I decided to join for the
                            101
                            class to see how it was and ended up signing for all of the courses through 401. It was about time
                            for
                            me to go back to what I am most passionate about; computer science .
                        </p>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card" style="margin-top: 15px; min-width: 15rem;">
                <img class="card-img-top" src="~/img/brennan2.jpg" alt="Store Image" />

                <div class="card-header">

                    <h3 class="card-title text-center">Brennan Roorda</h3>
                    <div class="card-body">
                        <p>
                            Hi, I am Brennan Roorda, I am a software developer student. After years of working many different jobs, many temp jobs, i decided I really needed a career. I stumbled into DeltaV and have been loving it ever since. I enjoy using my desire to create new things, and utilize my problem solving and troubleshooting skills. I can't wait to able to utilize me new skills in my new career!
                        </p>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card" style="margin-top: 15px; min-width: 15rem;">
                <img class="card-img-top" src="~/img/james.jpg" alt="Store Image" />

                <div class="card-header">

                    <h3 class="card-title text-center">James Zobian</h3>
                    <div class="card-body">
                        <p>
                            My name is James Zobian, I am a software developer with experience in tech support, customer service, and communication.
                            I first became interested in programming when I was 14 working on game mods and a homebrew online rpg with a friend of mine.
                            That was my first exposure to code and it piqued my interest as a possible career path. I came to DeltaV to hone my skill and
                            learn new languages that would put me ahead of the curve with proficiency in hirable technologies while giving me the skills and
                            techniques to standout from my peers and competition.
                        </p>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card" style="margin-top: 15px; min-width: 15rem;">
                <img class="card-img-top" src="~/img/matthew.jpg" alt="Store Image" />

                <div class="card-header">

                    <h3 class="card-title text-center">Matthew Barnhart</h3>
                    <div class="card-body">
                        <p>
                            Matt has a decade of experience managing people and serving his community thoughtful and enjoyable
                            experiences. He also enjoys coffee, cooking, and connecting with people. He aspires to making positive
                            changes in his community by supporting people to the best of his abilities!
                        </p>
                    </div>

                </div>
            </div>
        </div>

    </div>
