@{
    ViewData["Title"] = "Barista Buddy Home";
}

    <div class="index-container">
        <div class="text-center">
            <a asp-action="Index"
               asp-controller="Stores"><img alt="Barista Buddy logo" src="..\img\barista-buddy-index.png" /></a>
        </div>
    </div>
