
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Exo', sans-serif !important;
}

html {
    min-height: 100vh;
    /* background: linear-gradient(to bottom right, rgb(216, 178, 123), rgba(196, 157, 104, 0.90), rgba(204, 154, 85, 0.90), rgb(228, 191, 138)); */
    background: #f7d2b7;
}

body {
    min-height: 100vh;
    background: #f7d2b7;
}


.index-container {
    width: 100vw;
    height: 100vh;
    background: #f7d2b7;
}

.brand-color {
    background: #f7d2b7;
}

.card p {
    font-size: 18px;
}

@media(min-width:700px) {
    .card-img-top {
        width: 100%;
        height: 25vw;
        object-fit: cover;
    }
}