* {
box-sizing: border-box;
}

html {
    height: 100%;
    background: linear-gradient(to bottom right, rgb(216, 178, 123), rgba(196, 157, 104, 0.90), rgba(204, 154, 85, 0.90), rgb(228, 191, 138));
}
